$font-family: 'Verdana';
$font-weight: 'Bold';
$font-size-footer: 12px;

// Para títulos en el body
$font-size-titles: 22px;

// Para el brand del Navbar
$font-size-navbrand: 20px;

// (Inicio-Ofertas-Novedades en el Navbar)
$font-size-navigation-item: 18px;